header {
    width: 100%;
    position: fixed;
    z-index: 2000;
    height: 60px;
    background-color: var(--header-background);
    align-items: center;
}

header .menubar {
    width: 100%;
    padding: 0px 6px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-family: Inter;
    background-color: var(--header-background);
}

.header-end-buttons > button {
    height: 45px;
    min-width: 120px;
    font-size: 15px !important;
}
